/*CONTACT*/
.contact{
	margin-top: 40px;
	margin-bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.contact > p{
	font-family: "M_Medium", sans-serif;
	font-size: 32px;
}
.contact__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.contact__item:last-child{
	margin-bottom: 0px;
}
.contact__item--block{
	max-width: 600px;
	text-align: initial;
}
.contact__item p{
	font-family: "M_Regular", sans-serif;
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 15px;
}
.contact__item p:nth-child(1){
	font-family: "M_Medium", sans-serif;
	font-size: 24px;
	text-align: center;
	padding-bottom: 20px;
}
@media screen and (max-width: 1220px){
	.contact__item{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}
@media screen and (max-width: 425px){
	.contact {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.contact__item {
		margin-bottom: 20px;
		padding: 20px;
	}
	.contact__item p {
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 10px;
	}
	.contact__item iframe{
		max-width: 300px;
		max-height: 300px;
	} 
}
