/*TOP*/
.top a, .top p, .top li{
	color: #000;
}

/*TOP*/
@media screen and (max-width: 980px){
	.t228__burger span {
		background-color: #000!important;
	}
	.t228__list_item a, .t228__list_item span{
		color: #000!important;
	}
	.t228__mobile_container {
		padding-top: 30px;
		padding-bottom: 0;
	}
}

/*CONTACT*/
.contact{
	position: relative;
	margin-top: 140px;
	margin-bottom: 355px;
}
.contact > p:nth-child(1){
	max-width: 419px;
	font-family: "Regular", sans-serif;
	font-size: 45px!important;
	line-height: normal;
	padding-bottom: 20px;
	border-bottom: 1px solid #00000030;
}
.contact > p:nth-child(1) span{
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}
.contact__block{
	margin-top: 20px;
}
.contact__block--item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 40px;
}
.contact__block--item_icon{
	background-color: #fc4d18;
	border-radius: 50px;
	width: 75px;
	height: 75px;
	margin-right: 20px;
}
.contact__block--item_icon img{
	width: 50px;
	height: 50px;
	padding: 13px;
}
.contact__block--item_text p:nth-child(1){
	font-family: "Medium", sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
}
.contact__block--item_text p:nth-child(2){
	font-family: "Regular", sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.contact__block--item_text p:nth-child(3){
	font-family: "Regular", sans-serif;
	font-size: 16px;
	padding-top: 10px;
}
.contact__map{
	position: absolute;
	top: -79px;
	right: 0px;
	z-index: 1;
	pointer-events: none;
}
.contact iframe{
	position: absolute;
	top: -79px;
	right: 0px;
}
@media screen and (max-width: 1220px){
	.contact{
		overflow: hidden;
		margin: 40px 20px;
	}	
	.contact__map img{
		width: 551px;
		height: 503px;
	}
	.contact iframe{
		width: 549px;
		height: 623px;
	}
	.contact__map{
		top: 0px;
		right: 0px;
	}
	.contact iframe {
		top: -120px;
		right: 0px;
	}
}
@media screen and (max-width: 1006px){
	.contact > p:nth-child(1) {
		font-size: 32px!important;
		padding-bottom: 0px;
	}
	.contact__block--item {
		margin-bottom: 53px;
	}
}
@media screen and (max-width: 887px){
	.contact{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.contact__block--item {
		margin-bottom: 20px;
	}
	.map{
		position: relative;
		overflow: hidden;
		height: 503px;
	}
	.contact__map {
		position: inherit;
		top: 0px;
		right: 0px;
	}
	.contact iframe {
		width: 660px;
		top: -50px;
		right: inherit;
		left: -110px;
	}
}
@media screen and (max-width: 580px){
	.map {
		height: 319px;
	}
	.contact {
		margin-left: 10px;
		margin-right: 10px;
	}
	.contact__map img {
		width: 350px;
		height: 322px;
	}
	.contact iframe {
		width: 499px; 
		height: 460px;
	}
	.contact__block--item_text p:nth-child(1) {
		font-size: 18px;
		padding-bottom: 10px;
	}
	.contact__block--item_text p:nth-child(2) {
		font-size: 14px;
		line-height: 20px;
	}
}
@media screen and (max-width: 320px){
	.map {
		height: 275px;
	}
	.contact__map img {
		width: 300px;
		height: 275px;
	}
	.contact iframe {
		height: 345px;
		top: -70px;
	}
}

/*FOOTER*/
footer {
	position: relative;
	margin-top: 185px;
}