@media screen and (max-width: 1220px){
	.wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 425px){
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*TOP*/
.top_cap a, .top_cap p, .top_cap li{
	color: #000;
}
@media screen and (max-width: 980px){
	.t228__burger span {
		background-color: #000!important;
	}
	.t228__list_item a, .t228__list_item span{
		color: #000!important;
	}
	.t228__mobile_container {
		padding-top: 30px;
		padding-bottom: 0;
	}
}
.popup > p{
	max-width: 360px;
}

/*TOP*/
.introduction__top{
	padding-top: 33px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.introduction__top--text{
	max-width: 459px;
}
.introduction__top--text h2{
	padding-top: 15px;
	font-size: 24px;
	font-family: "Medium", sans-serif;
}
.introduction__top--text h1{
	padding-top: 0;
	font-size: 60px;
	font-family: "Bold", sans-serif;
	line-height: normal;
	text-transform: uppercase;
}
.introduction__top iframe{
	position: relative;
	top: 7px;
}
.introduction__top iframe{
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 1120px){
	.introduction__top{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-top: 20px;
	}
	.introduction__top--text {
		max-width: 463px;
		padding-bottom: 20px;
	}
	.introduction__top--text h2{
		font-size: 20px;
	}	
	.introduction__top--text h1{
		font-size: 36px;
		text-align: center;
	}
}
@media screen and (max-width: 656px){
	header{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	#ytplayer {
		width: 100%;
	}
}
@media screen and (max-width: 425px){
	.introduction__top--text{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.introduction__top--text h2{
		padding-top: 10px;
		font-size: 15px;
		line-height: normal;
	}
	.introduction__top--text h1{
		font-size: 32px;
	}
	#ytplayer {
		width: 320px;
		height: 181px
	}
}

/*LATER*/
.introductionlater{
	padding-top: 40px;
	padding-bottom: 40px;
}
.introductionlater > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 934px;
	margin: auto;
	text-align: center;
}
.introductionlater > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}
.introductionlater__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.introductionlater__block--item{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 189px;
	margin-top: 40px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
	border-radius: 10px;
}
.introductionlater__block--item > p{
	max-width: 320px;
	font-size: 22px;
	font-family: "Regular", sans-serif;
}
.introductionlater__block--item_nuber{
	position: absolute;
	top: -30px;
	left: -30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: #fc4d18;
}
.introductionlater__block--item_nuber p{
	font-size: 36px;
	font-family: "Bold", sans-serif;
	color: #fff;
}
@media screen and (max-width: 1280px){
	.introductionlater__block {
		max-width: 1000px;
		margin: auto;
		justify-content: space-around;
	}
}
@media screen and (max-width: 850px){
	.introductionlater__block--item {
		width: 256px;
		height: auto;
		margin-top: 30px;
		padding: 15px;
	}
	.introductionlater__block--item > p {
		font-size: 18px;
	}
	.introductionlater__block--item_nuber {
		top: -20px;
		left: -20px;
		width: 40px;
		height: 40px;
	}
	.introductionlater__block--item_nuber p {
		font-size: 30px;
	}
}
@media screen and (max-width: 425px){
	.introductionlater {
		padding-top: 20px;
		padding-bottom: 20px;	
	}
	.introductionlater__block {
		padding-left: 14px;
	}
	.introductionlater__block--item {
		width: 90%;
	}
}

/*introductionservices*/
.introductionserv{
	padding-bottom: 40px;
	position: relative;
}
.introductionserv > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 366px;
	margin: auto;
	text-align: center;
}
.introductionserv > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}
.introductionserv__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.introductionserv__block--item{
	z-index: 10;
	box-sizing: border-box;
	width: 270px;
	height: auto;
	margin-top: 20px;
	padding: 20px 10px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #fff;
}
.introductionserv__block--item p{
	margin: auto;
}
.introductionserv__block--item p:nth-child(1){
	width: 256px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-family: "Medium", sans-serif;
}
.introductionserv__block--item p:nth-child(2){
	width: 241px;
	font-size: 16px;
	font-family: "Regular", sans-serif;
}

.introductionserv img{
	position: absolute;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.4);
}
.square1{
	transform: rotate(10deg);
	top: 95px;
	left: 560px;
	width: 150px;
	height: 150px;
	opacity: 0.7;
}
.square2{
	transform: rotate(15deg);
	top: 180px;
	left: 180px;
	width: 130px;
	height: 130px;
	opacity: 0.5;
}
.square3{
	transform: rotate(-25deg);
	top: 180px;
	right: 190px;
	width: 120px;
	height: 120px;
	opacity: 0.4;
}
.square4{
	transform: rotate(-15deg);
	bottom: 20px;
	left: 540px;
	width: 100px;
	height: 100px;
	opacity: 0.3;
}
@media screen and (max-width: 1160px){
	.introductionserv__block {
		-ms-align-items: inherit;
		align-items: inherit;
		justify-content: space-evenly;
	}
	.introductionserv__block--item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 380px;
		margin-top: 20px;
		padding: 20px 10px;
	}
	.introductionserv__block--item p:nth-child(1) {
		width: auto;
	}
	.introductionserv__block--item p:nth-child(2) {
		width: 330px;
		font-size: 16px;
		font-family: "Regular", sans-serif;
	}
	.square1{
		top: 95px;
		left: 42%;
	}
	.square2{
		top: 350px;
		left: 18%;
	}
	.square3{
		top: 360px;
		right: 20%;
	}
	.square4{
		bottom: 20px;
		left: 48%;
	}
}
@media screen and (max-width: 799px){
	.square1{
		top: 95px;
		left: 20%;
	}
	.square2{
		top: 820px;
		left: 18%;
	}
	.square3{
		top: 450px;
		right: 20%;
	}
	.square4{
		bottom: 20px;
		left: 67%;
	}
}
@media screen and (max-width: 425px){
	.introductionserv {
		padding-bottom: 20px;
	}
	.introductionserv__block--item {
		width: inherit;
		margin-top: 20px;
		padding: 20px 10px;
	}
	.introductionserv__block--item p:nth-child(2) {
		width: inherit;
	}
	.introductionserv__block--item p:nth-child(1) {
		padding-bottom: 10px;
		font-size: 20px;
	}
	.square1{
		top: 115px;
		width: 180px;
		height: 180px;
	}
	.square2{
		top: 820px;
		width: 200px;
		height: 200px;
	}
	.square3{
		width: 190px;
		height: 190px;
	}
	.square4{
		bottom: 20px;
		left: 30%;
		width: 200px;
		height: 200px;
	}
}

/*introductionrate*/
.introductionrate{
	padding-bottom: 40px;
}
.introductionrate > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 394px;
	margin: auto;
	text-align: center;
}
.introductionrate > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}

.introductionrate__head{
	padding-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.introductionrate__head--item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 285px;
	height: 50px;
	
	margin-right: 10px;
}
.introductionrate__head--item:last-child{
	margin-right: 0px;
}
.introductionrate__head--item p{
	font-size: 24px;
	font-family: "SemiBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.introductionrate__content{
	position: relative;
}
.introductionrate__content--head{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.introductionrate__content--head_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 285px;
	height: auto;
	padding: 15px;
	box-sizing: border-box;
	margin-right: 10px;
	border-top: none;
}
.introductionrate__content--head_row:last-child{
	margin-right: 0px;
}
.introductionrate__content--head_row p{
	max-width: 280px;
	text-align: center;
	font-size: 16px;
	font-family: "Medium", sans-serif;
}
.introductionrate__content img{
	position: absolute;
	width: 20px;
	top: 13px;
	height: auto;
	cursor: pointer;
	transition: transform 0.5s ease;
}

.introductionrate__content--text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.introductionrate__content--text_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 285px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
}
.introductionrate__content--text_row:last-child{
	margin-right: 0px;
}
.introductionrate__content--text_row p{
	font-size: 14px;
	font-family: "Regular", sans-serif;
	line-height: normal;
}
.introductionrate__content--text_row p:nth-child(2){
	padding-top: 10px;
}
.introductionrate__price{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.introductionrate__price--item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 285px;
	height: 50px;
	margin-right: 10px;
}
.red__row{
	background-color: #ff0000;
}
.orange__row{
	background-color: #fc4d18;
}
.green__row{
	background-color: #00a99d;
}
.blue__row{
	background-color: #004161;
}
.red__row--content{
	background-color: #ff00001a;
}
.orange__row--content{
	background-color: #fc4d181a;
}
.green__row--content{
	background-color: #00a99d1a;
}
.blue__row--content{
	background-color: #0041611a;
}
.red__row--price{
	background-color: #ff0000cc;
}
.orange__row--price{
	background-color: #fc4d18cc;
}
.green__row--price{
	background-color: #00a99dcc;
}
.blue__row--price{
	background-color: #004161cc;
}
.introductionrate__price--item:last-child{
	margin-right: 0px;
}
.introductionrate__price--item p{
	text-align: center;
	font-size: 18px;
	font-family: "SemiBold", sans-serif;
	color: #fff;
	line-height: normal;
}

.introductionrate__block{
	display: none;
}

@media screen and (max-width: 1220px){
	.introductionrate__head{
		display: none;
	}
	.introductionrate__content{
		display: none;
	}
	.introductionrate__price{
		display: none;
	}
	
	.introductionrate__block{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.introductionrate__block--item{
		position: relative;
		width: 49%;
		margin: 0 auto;
		margin-top: 20px;
		box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
		padding-bottom: 55px;
	}
	.introductionrate__block--item > p{
		max-width: 407px;
		margin: auto;
		font-size: 18px;
		font-family: "Regular", sans-serif;
		line-height: normal;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.introductionrate__block--item_head{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		height: 50px;
		margin-bottom: 10px;
	}
	.introductionrate__block--item_head p{
		font-size: 24px;
		font-family: "SemiBold", sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.introductionrate__block--item_price{
		position: absolute;
		bottom: 0;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		height: 40px;
	}
	.introductionrate__block--item_price p{
		text-align: center;
		font-size: 22px;
		font-family: "SemiBold", sans-serif;
		color: #fff;
		line-height: normal;
	}

	.introductionrate__filetariffs{
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #fc4d18;
		padding: 15px;
		border-radius: 10px;
		box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	}
	.introductionrate__filetariffs p{
		font-size: 18px;
		font-family: "SemiBold", sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
}
@media screen and (max-width: 804px){
	.introductionrate__block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.introductionrate__block--item {
		width: inherit;
		padding-bottom: 0px;
	}
	.introductionrate__block--item > p {
		max-width: 407px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.introductionrate__block--item_price{
		margin-top: 5px;
		position: inherit;
	}
	.introductionrate__block--item_price p{
		font-size: 18px;
	}
}
@media screen and (max-width: 425px){
	.introductionrate {
		padding-bottom: 20px;
	}
	.introductionrate__block--item > p {
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
}


/*introductionstage*/
.introductionstage{
	padding-bottom: 40px;
}
.introductionstage > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 393px;
	margin: auto;
	text-align: center;
}
.introductionstage > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}
.site__work--block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: -10px;
}
.site__work--item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	padding-top: 30px;
	width: 512px;
}
.site__work--item:nth-child(1){
	order: 1;
}
.site__work--item:nth-child(2){
	order: 3;
}
.site__work--item:nth-child(3){
	order: 5;
}
.site__work--item:nth-child(4){
	order: 2;
}
.site__work--item:nth-child(5){
	order: 4;
}
.site__work--item:nth-child(6){
	order: 6;
}
.site__work--item_img{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 10px;
	background-color: #fc4d18;
	border-radius: 50%;
	margin-right: 15px;
}
.site__work--number{
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	top: -12px;
	left: -12px;
	background-color: #fc4d18;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	font-family: "Medium", sans-serif;
	font-size: 18px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
}
.site__work--item_img img{
	width: 59px;
	height: auto;
}
.site__work--item_text p{
	max-width: 418px;
}
.site__work--item_text p:nth-child(1){
	font-family: "Medium", sans-serif;
	font-size: 20px;
	padding-bottom: 10px;
	line-height: normal;
}
.site__work--item_text p:nth-child(2){
	font-family: "Regular", sans-serif;
	font-size: 16px;
	line-height: normal;
}
@media screen and (max-width: 1100px){
	.site__work--block{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 0px;
	}
	.site__work--item:nth-child(1n+2){
		order: 1;
	}
}
@media screen and (max-width: 550px){
	.site__work {
		padding-bottom: 20px;
	}
	.site__work--block{
		padding-left: 10px;
		-ms-align-items: inherit;
		align-items: inherit;
	}
	.site__work--item {
		width: initial;
	}
	.site__work--item_text{
		width: 72%;
	}
	.site__work--item_img {
		margin-right: 10px;
	}
	.site__work--item_text p:nth-child(1){
		font-size: 16px;
	}
	.site__work--item_text p:nth-child(2){
		font-size: 13px;
	}
	.site__work--item_img img{
		width: 45px;
	}
}

/*FOOTER*/
footer{
	box-shadow: 0px -3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0;
}
.site__footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.site__footer--logo img{
	max-width: 300px;
	height: auto;
}
.site__footer--logo p{
	font-size: 12px;
	line-height: normal;
	font-family: "Regular", sans-serif;
}
.site__bottom--form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin: auto;
	border-radius: 10px;
}
.site__bottom--form > p:nth-child(1){
	font-family: "Medium", sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: normal;
	padding-bottom: 10px;
}
.site__bottom--form > p:nth-child(2){
	font-family: "Regular", sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: normal;
	padding-bottom: 20px;
}
.site__bottom--form > form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.site__bottom--form_row input{
	width: 260px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
	font-size: 16px;
	font-family: "Regular", sans-serif;
	color: #565766;
	border: 1px solid #d8d9eb;
	box-sizing: border-box;
	padding-left: 20px;
	margin-right: 20px;
	outline: none;
}
.site__bottom--form_btm{
	width: 140px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #00a99d;
	font-size: 16px;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	border: none; 
	outline: none;
}
.site__bottom--form > p:last-child{
	max-width: 359px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
	font-family: "Light", sans-serif;
	font-size: 9px;
	padding-top: 10px;
}
.footer__call{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.footer__call--text p{
	font-family: "Regular", sans-serif;
	margin-right: 20px;
	text-align: center;
}
.footer__call--text p:nth-child(1){
	font-size: 24px;
	padding-top: 13px;
}
.footer__call img{
	width: 50px;
}
@media screen and (max-width: 1100px){
	footer {
		margin-top: 100px;
		padding-top: 70px;
	}
	.site__call{
		margin-top: 0;
	}
	.site__bottom--form{
		position: absolute;
		top: 0;
		top: -120px;
		right: 0;
		left: 0;
		margin: auto;
		background-color: #fff;
		box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
		max-width: 435px;
		padding: 10px 20px;
	}
}
@media screen and (max-width: 640px){
	footer {
		margin-top: 120px;
		padding-bottom: 20px;
	}
	.site__footer{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.site__bottom--form{
		max-width: inherit;
	}
	.site__call{
		margin-bottom: 20px;
	}
	.site__footer--logo p {
		text-align: center;
	}
}
@media screen and (max-width: 425px){
	.site__bottom--form_row input{
		margin-right: 0px;
	}
	.site__bottom--form > p:nth-child(2) {
		max-width: 223px;
	}
	.site__call{
		padding-top: 130px;
	}
	.site__bottom--form {
		padding: 20px;
	}
	.site__bottom--form > form{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.site__bottom--form_btm {
		margin-top: 15px;
	}	
}