.material{
	border-radius: 10px;
	margin: auto;
	margin-top: 40px;
}
.material p{
	font-family: "M_Medium", sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
.material p:nth-child(1){
	font-size: 28px;
	line-height: 36px;
	padding-bottom: 5px;
}
.material p:nth-child(2){
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 20px;
}
.material__img img{
	width: 377px;
	padding: 10px;
}

@media screen and (max-width: 425px) {
	.material{
		padding-bottom: 20px;
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.material p:nth-child(1){
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 5px;
	}
	.material p:nth-child(2){
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 10px;
	}
	.material__img img{
		width: 280px;
		padding-bottom: 0;
	}
}