@media screen and (max-width: 1220px){
	.wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 425px){
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*TOP*/
.top_cap a, .top_cap p, .top_cap li{
	color: #000;
}
@media screen and (max-width: 980px){
	.t228__burger span {
		background-color: #000!important;
	}
	.t228__list_item a, .t228__list_item span{
		color: #000!important;
	}
	.t228__mobile_container {
		padding-top: 30px;
		padding-bottom: 0;
	}
}
.popup > p{
	max-width: 360px;
}

/*SITE TOP*/
.site__top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-top: 40px;
}
.site__top--text > p{
	line-height: normal;
}
.site__top--text > p:nth-child(1){
	max-width: 482px;
	font-family: "Bold", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}
.site__top--text > p{
	max-width: 481px;
	font-family: "Regular", sans-serif;
	font-size: 18px;
}
.site__top--text > p:nth-child(2){
	max-width: 482px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.site__top iframe{
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	height: 312px;
}
@media screen and (max-width: 1200px){
	.site__top--text{
		margin-right: 20px;
	}
	.site__top--text > p:nth-child(1) {
		font-size: 24px;
	}
	.site__top--text > p{
		font-size: 16px;
	}
	.top__main--prise_btn{
		padding: 20px 15px;
	}
	.top__main--prise_btn p {
		font-size: 12px;
		text-align: center;
		line-height: normal;
	}
	.top__main--prise > p {
		margin-left: 10px;
		font-size: 14px;
		max-width: 162px;
	}
}
@media screen and (max-width: 1023px){
	.site__top{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-top: 30px;
	}
	.site__top--text {
		margin-right: 0px;
	}
	.site__top--text > p:nth-child(1){
		font-size: 24px;
		max-width: 471px;
		margin: auto;
		text-align: center;
		padding-bottom: 0;
	}
	.site__top--text > p{
		padding-bottom: 25px;
	}	
}
@media screen and (max-width: 656px){
	.site__top--text {
		padding-left: 10px;
		padding-right: 10px;
	}
	header{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	#ytplayer {
		width: 100%;
	}
}
@media screen and (max-width: 425px){
	.site__top--text > p:nth-child(1){
		font-size: 20px;
	}
	.site__top--text > p{
		font-size: 14px;
		padding-bottom: 15px;
	}
	#ytplayer {
		width: 320px;
		height: 181px
	}
}


/*BAV*/
.solutionbav{
	padding-top: 40px;
	padding-bottom: 40px;
}
.solutionbav > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 914px;
	margin: auto;
	text-align: center;
}
.solutionbav > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}
.solution__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}
.solution__block--text{
	max-width: 470px;
	font-family: "Medium", sans-serif;
	font-size: 30px;
	line-height: normal;
	margin-right: 20px;
}
.solution__block--text p:nth-child(1){
	padding-bottom: 30px;
}
.solution__block--plus > p{
	max-width: 435px;
	margin: auto;
	font-size: 20px;
	font-family: "SemiBold", sans-serif;
	text-align: center;
	padding-bottom: 20px;
}
.solution__block--plus_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 10px;
}
.solution__block--plus_item:last-child{
	padding-bottom: 0px;
}
.solution__block--plus_item-img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 10px;
	padding: 13px;
	background-color: #fc4d18;
	border-radius: 50px;
}
.solution__block--plus_item-img img{
	width: 45px;
	height: 45px;
}
.solution__block--plus_item p{
	max-width: 593px;
	font-size: 16px;
	font-family: "Regular", sans-serif;
}
@media screen and (max-width: 970px){
	.solution__block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.solution__block--text {
		margin-right: 0px;
		padding-bottom: 20px;
		max-width: 717px;
		font-size: 22px;
	}
	.solution__block--text p:nth-child(1) {
		padding-bottom: 20px;
	}
	.solution__block--plus > p {
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 425px){
	.solutionbav {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.solution__block--text {
		font-size: 16px;
	}
	.solution__block--text p:nth-child(1) {
		padding-bottom: 10px;
	}
	.solution__block--plus > p {
		max-width: 300px;
		font-size: 18px;
	}
	.solution__block--plus_item p {
		font-size: 14px;
	}
}

/*BRANCH*/
.solutionbranch > p:nth-child(1){
	font-family: "Regular", sans-serif;
	line-height: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #00000030;
	max-width: 585px;
	margin: auto;
	text-align: center;
}
.solutionbranch > p span{
	line-height: normal;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
}

.solutionbranch__block{
	padding-top: 20px;
}
.solutionbranch__block--item{
	max-width: 800px;
	margin: auto;
	padding-bottom: 10px;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 40px;
}
.solutionbranch__block--item_spoiler{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.solutionbranch__block--item_spoiler > p{
	font-size: 30px;
	font-family: "SemiBold", sans-serif;
}
.solutionbranch__block--item_spoiler img{
	width: 30px;
	height: auto;
}
.spoiler-title{
	cursor:pointer;
}
.solutionbranch-text-L{
	padding-top: 5px;
	font-size: 18px;
	font-family: "Medium", sans-serif;
	line-height: normal;
}
.solutionbranch-text-M{
	padding-top: 15px;
	font-size: 22px;
	font-family: "Medium", sans-serif;
}
.solutionbranch-text-S{
	padding-top: 10px;
	font-size: 16px;
	font-family: "Regular", sans-serif;
}
@media screen and (max-width: 425px){
	.solutionbranch__block--item {
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	.solutionbranch__block--item_spoiler > p {
		font-size: 18px;
	}
	.solutionbranch__block--item_spoiler img {
		width: 20px;
	}
	.solutionbranch-text-L{
		padding-top: 5px;
		font-size: 16px;
	}
	.solutionbranch-text-M{
		padding-top: 10px;
		font-size: 18px;
	}
	.solutionbranch-text-S{
		padding-top: 5px;
		font-size: 14px;
		line-height: 1.2;
	}
}

/*FOOTER*/
footer{
	box-shadow: 0px -3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0;
}
@media screen and (max-width: 1100px){
	footer {
		margin-top: 140px!important;
	}
}
.site__footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.site__footer--logo img{
	max-width: 300px;
	height: auto;
}
.site__footer--logo p{
	font-size: 12px;
	line-height: normal;
	font-family: "Regular", sans-serif;
}
.site__bottom--form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin: auto;
	border-radius: 10px;
}
.site__bottom--form > p:nth-child(1){
	font-family: "Medium", sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: normal;
	padding-bottom: 10px;
}
.site__bottom--form > p:nth-child(2){
	font-family: "Regular", sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: normal;
	padding-bottom: 20px;
}
.site__bottom--form > form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.site__bottom--form_row input{
	width: 260px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
	font-size: 16px;
	font-family: "Regular", sans-serif;
	color: #565766;
	border: 1px solid #d8d9eb;
	box-sizing: border-box;
	padding-left: 20px;
	margin-right: 20px;
	outline: none;
}
.site__bottom--form_btm{
	width: 140px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
	background-color: #00a99d;
	font-size: 16px;
	font-family: "Bold", sans-serif;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	border: none; 
	outline: none;
}
.site__bottom--form > p:last-child{
	max-width: 359px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
	font-family: "Light", sans-serif;
	font-size: 9px;
	padding-top: 10px;
}
.footer__call{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.footer__call--text p{
	font-family: "Regular", sans-serif;
	margin-right: 20px;
	text-align: center;
}
.footer__call--text p:nth-child(1){
	font-size: 24px;
	padding-top: 13px;
}
.footer__call img{
	width: 50px;
}
@media screen and (max-width: 1100px){
	footer {
		margin-top: 120px;
		padding-top: 70px;
	}
	.site__call{
		margin-top: 0;
	}
	.site__bottom--form{
		position: absolute;
		top: 0;
		top: -120px;
		right: 0;
		left: 0;
		margin: auto;
		background-color: #fff;
		box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
		max-width: 435px;
		padding: 10px 20px;
	}
}
@media screen and (max-width: 640px){
	footer {
		padding-bottom: 20px;
	}
	.site__footer{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.site__bottom--form{
		max-width: inherit;
	}
	.site__call{
		margin-bottom: 20px;
	}
	.site__footer--logo p {
		text-align: center;
	}
}
@media screen and (max-width: 425px){
	.site__bottom--form_row input{
		margin-right: 0px;
	}
	.site__bottom--form > p:nth-child(2) {
		max-width: 223px;
	}
	.site__call{
		padding-top: 130px;
	}
	.site__bottom--form {
		padding: 20px;
	}
	.site__bottom--form > form{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.site__bottom--form_btm {
		margin-top: 15px;
	}	
}