.teach{
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.teach > p:nth-child(1){
	font-family: "M_Medium", sans-serif;
	font-size: 32px;
	padding-bottom: 20px;
}
.teach > p{
	margin: auto;
	font-family: "M_Regular", sans-serif;
	font-size: 22px;
	line-height: 28px;
}
.teach > p:nth-child(4){
	padding-bottom: 20px;
}
.teach > p:nth-child(5){
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 20px;
}
.teach > p:nth-child(7){
	font-size: 20px;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.teach__block{
	padding-top: 40px;
	padding-bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.teach__block img{
	max-width: 400px;
}
.teach__block--text{
	padding-right: 50px;
	max-width: 650px;
}
.teach__block--text p{
	font-family: "M_Regular", sans-serif;
	font-size: 22px;
	padding-bottom: 20px;
}
.teach__block--text ul{
	padding-left: 20px;
	list-style: inherit;
	color: #fff;
	text-align: left;
}
.teach__block--text ul li{
	font-family: "M_Regular", sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 20px;
}
.teach__block--text ul li span{
	font-family: "M_Regular", sans-serif;
	font-size: 20px;
}
@media screen and (max-width: 850px){
	.teach {
		margin-top: 0px;
	}
	.teach__block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.teach iframe{
		max-width: 600px;
		max-height: 400px;
	}
	.teach__block{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}
@media screen and (max-width: 425px){
	.teach {
		padding-bottom: 20px;
	}
	.teach > p:nth-child(1) {
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 10px;
	}
	.teach > p:nth-child(2) {
		text-align: initial;
		font-size: 16px;
		line-height: 20px;
	}
	.teach__block--text {
		padding-right: 0px;
		max-width: 650px;
	}
	.teach__block--text ul li span {
		font-size: 18px;
	}
	.teach__block--text ul li {
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 10px;
	}
	.teach__block img {
		padding-top: 10px;
		max-width: 300px;
	}
	.teach > p:nth-child(4) {
		font-size: 16px;
		line-height: 20px;
	}
	.teach > p:nth-child(5){
		font-size: 16px;
		line-height: 20px;
	}
	.teach > p:nth-child(7){
		font-size: 16px;
		line-height: 20px;
	}
	.teach iframe{
		max-width: 280px;
		max-height: 280px;
	}
}

/*TEACH PLUS*/
.teach__plus{
	max-width: 1267px;
	padding: 40px 20px;
}
.teach__item{
	padding-left: 10px;
	padding-right: 10px;
}
#advantag__text--5 {
	max-width: 370px;
	margin-bottom: -15px;
	margin-top: 15px;
	left: 15px;
}
@media screen and (max-width: 520px){
	.teach__plus {
		padding: 0px;
		padding-top: 40px;
	}
	#advantag__text--5 {
		max-width: 260px;
		margin-bottom: -11px;
		margin-top: 15px;
		left: 20px;
	}
}

/*RULE*/
.rule{
	font-family: "M_Regular", sans-serif;
	font-size: 20px;
}
.rule > a{
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.rule p{
	padding-left: 20px;
	padding-right: 20px;
}
.rule img{
	max-width: 376px;
	padding: 10px;
}
.rule__text{
	font-family: "M_Regular", sans-serif;
}
.rule__text p{
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.rule__text p:nth-child(1){
	max-width:1000px;
	font-size: 24px;
	padding-bottom: 20px;
	line-height: 30px;
}
.rule p:nth-child(5){
	padding-top: 10px;
	padding-bottom: 10px;
}
.rule p:nth-child(6){
	padding-top: 10px;
	padding-bottom: 20px;
}
@media screen and (max-width: 425px){
	.rule > a{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.rule__text p:nth-child(1) {
		font-size: 16px;
		text-align: initial;
		padding-bottom: 10px;
		line-height: 20px;
	}
	.rule img {
		max-width: 300px;
	}
	.rule p {
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.rule p:nth-child(7) {
		padding-bottom: 10px;
	}
}

/*POPUP*/
.popup {
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(0%,-50%);
	display:none;
	overflow:hidden;
	border:1px solid #ccc;
	background:#fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	z-index:100;
}
.popup a.close {
	width:16px;
	height:16px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:10px;
	right:10px;
	background:url(../img/close.png) no-repeat;
}
.photo_win {
	margin-left:-400px;
	max-width:800px;
}
#overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
	background:#000;
	opacity:.8;
}
.technology{
	padding-top: 20px;
	padding-bottom: 20px;
}
.technology p{
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "M_Medium", sans-serif;
	text-align: initial;
	font-size: 20px;
	line-height: 30px;
}
.technology p:nth-child(2){
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.technology p > a{
	color: #000;
}
@media screen and (max-width: 1160px){
	.technology p {
		font-size: 14px;
		line-height: 20px;
	}
}
@media screen and (max-width: 820px){
	.photo_win {
		margin-left: -300px;
		max-width: 600px;
	}
}
@media screen and (max-width: 425px){
	.photo_win {
		margin-left: -150px;
		max-width: 300px;
	}
	.technology p{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
		line-height: 16px;
	}
}