@font-face {font-family: 'OpenSans-Bold'; src: url(../font/OpenSans-Bold.ttf);}
@font-face {font-family: 'OpenSans-Italic'; src: url(../font/OpenSans-Italic.ttf);}
@font-face {font-family: 'OpenSans-Regular'; src: url(../font/OpenSans-Regular.ttf);}

@font-face {font-family: 'GaramondPremrPro-Normal'; src: url(../font/GaramondPremrPro-Normal.otf);}

@font-face {font-family: 'Dionisio-Regular'; src: url(../font/Dionisio-Regular.ttf);}

@font-face {font-family: 'P22Underground-PCp'; src: url(../font/P22Underground-PCp.otf);}

a {
	text-decoration: none;
}

#menu__toggle {
	opacity: 0;
	position: absolute;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
.menu__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: fixed;
	top: 30px;
	left: 50px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 30;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff0000bf;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	margin-left: 0%;
	padding: 60px 0;
	transition-duration: .25s;
	z-index: 20;
}
.menu__item {
	background-color: #ff0000bf;
	z-index: 20;
	text-transform: uppercase;
	display: block;
	margin-top: 25px;
	padding: 5px 10px;
	margin-left: 40px;
	color: #fff;
	font-family: 'M-Bold', sans-serif;
	font-size: 24px;
	transition: .5s;
}
.menu__box li{
	padding-left: 10px;
}
.menu__box li:nth-child(1) > a{
	width: 183px;
}
.menu__box li:nth-child(2) > a{
	width: 124px;
}
.menu__box li:nth-child(3) > a{
	width: 147px;
}

@media screen and (max-width: 425px) {
	.menu__btn {
		left: 20px;
	}
	.menu__box li{
		padding-left: 5px;
	}
	.menu__item {
		margin-left: 20px;
		background-color: #ff0000a0;
	}
	.menu__item:hover {
		background-size: none;
	}
}

.wrapper {
	margin: auto;
	max-width: 1220px;
	width: 100%;
}

.main_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.main_logo img {
	width: 120px;
	padding: 10px;
}
#main_navigation {
	padding: 10px;
	color: #000;
}
#main_navigation ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
#main_navigation ul li a {
	color: #000;
	font-family: "OpenSans-Regular";
	font-size: 15px;
	opacity: 0.9;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: .5s;
}
#main_navigation ul li a:hover {
	background: #9d706085;
	padding: 15px 15px;
	border-radius: 10px;
	color: #fff;
}

.main_bg {
	height: 400px;
}
.main_bg--text {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/work_table.jpg);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-left: 30px;
}
.main_bg--text p {
	font-size: 30px;
	padding-right: 5px;
	opacity: .8;
	color: #fff;
	font-family: "OpenSans-Italic";
}
.main_bg--text img {
	width: 180px;
}
#patterns {
	margin-top: 50px;
}
.patterns_text {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.42px;
	font-family: "OpenSans-Bold";
	opacity: 0.8;
	margin-bottom: 50px;
}
.patterns_item--text {
	text-align: center;
	font-size: 35px;
	font-family: "GaramondPremrPro-Normal";
	opacity: 0.8;
}
.patterns_item--size {
	margin: auto;
	margin-bottom: 15px;
	padding-bottom: 5px;
}
.chocolate {
	border-bottom: 2px solid #9D7060;
	width: 180px;
}
.cappuccino {
	border-bottom: 2px solid #D9C1B7;
	width: 200px;
}
.rose_gold {
	border-bottom: 2px solid #B37A7A;
	width: 175px;
}
.marble {
	border-bottom: 2px solid #D3D2E3;
	width: 140px;	
}

.patterns_item--block-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}
.patterns_item--block-text {
	max-width: 30%;
}
.patterns_item--block-text p {
	text-align: center;
	font-size: 19px;
	font-family: "GaramondPremrPro-Normal";
	line-height: 30px;
	letter-spacing: 0.42px;
}
.pattern_item--block-text_subtext {
	opacity: 0.7;
}
.chocolate_subtext {
	background: #9D7060;
	color: #fff;
	width: 135px;
	margin: auto;
	box-shadow: 5px 5px 3px #9d706085;
}
.cappuccino_subtext {
	background: #D9C1B7;
	color: #fff;
	width: 150px;
	margin: auto;
	box-shadow: 5px 5px 3px #D9C1B785;
}
.rose_gold_subtext {
	background: #B37A7A;
	color: #fff;
	width: 130px;
	margin: auto;
	box-shadow: 5px 5px 3px #B37A7A85;
}
.marble_subtext {
	background: #D3D2E3;
	color: #fff;
	width: 100px;
	margin: auto;
	box-shadow: 5px 5px 3px #D3D2E385;
}
.pattern_item--block-text_main {
	margin-bottom: 20px;
	text-transform: uppercase;
}
.patterns_item--img {
	max-width: 520px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 50px;
}
.patterns_item--img img {
	margin: 10px;
	width: 240px;
	box-shadow: 5px 5px 10px black;
	border-radius: 10px;
	transition: 0.3s;
}
.patterns_item--img img:hover {
	transform: scale(1.3);
}

#postcard {
	margin-top: 50px;
}
.postcard_block {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.postcard_text {
	max-width: 50%;
	margin-bottom: 20px;
}
.postcard_img {
	max-width: 740px;
}
.postcard_img img {
	width: 350px;
}

#contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.contacts_info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.contacts_info p {
	text-align: center;
	text-transform: uppercase;
}
.contacts_info--text {
	margin-bottom: 10px;
	font-family: "Dionisio-Regular";
	font-size: 50px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.9;
}
.contacts_info--subtext {
	font-family: "P22Underground-PCp";
	font-size: 12px;
	letter-spacing: 6px;
	opacity: 0.7;
}
.contacts_info--img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 40px;
}
.contacts_info--img-int1 {
	width: 200px;
}
.contacts_info--img-int2 {
	margin-top: 15px;
	width: 50px;
}
.contacts_img img {
	width: 500px;
}

@media screen and (max-width: 840px) {
	#contacts {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.contacts_img {
		margin-top: 20px;
	}
	.patterns_item--img img {
		transition: none;
	}
	.patterns_item--img img:hover {
		transform: none;
	}

}

@media screen and (max-width: 750px) {

	.patterns_item--block-img {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.patterns_item--block-text {
		max-width: 70%;
	}
	.patterns_item--block-text {
		order: 1;
		margin-bottom: 20px;
	}
	.patterns_item--img {
		order: 2;
	}
	.postcard_img {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.postcard_img img {
		margin-bottom: 10px; 
	}	
}

@media screen and (max-width: 550px) {

	.patterns_item--img {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.contacts_img img {
		width: 310px;
	}
	.postcard_img img {
		width: 280px;
	}
	.main_bg--text {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-left: 0px;
		justify-content: center;
	}
	.main_bg--text p {
		margin-bottom: 20px;
		opacity: 1;
	}
	.main_block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	#main_navigation ul li a {
		margin: 0px 10px;
	}
	#main_navigation ul li:nth-child(2){
		border-left: 2px solid #00000085;
		border-right: 2px solid #00000085;
	}
	.contacts_info--text{
		font-size: 48px;
	}
	#main_navigation {
		padding: 0;
		padding-top: 10px; 
		padding-bottom: 10px;
	}
	#main_navigation ul li a:hover {
		padding: 8px;
	}
}