body {

}
a {
	text-decoration: none;
}
@font-face {font-family: 'SFPro_Semibold'; src: url(../fonts/SFPro/SFProDisplay-Semibold.ttf);}
@font-face {font-family: 'SFPro_Medium'; src: url(../fonts/SFPro/SFProDisplay-Medium.ttf);}
@font-face {font-family: 'SFPro_Light'; src: url(../fonts/SFPro/SFProDisplay-Light.ttf);}
@font-face {font-family: 'SFPro_Regular'; src: url(../fonts/SFPro/SFProDisplay-Regular.ttf);}
@font-face {font-family: 'SFPro_Bold'; src: url(../fonts/SFPro/SFProDisplay-Bold.ttf);}

#menu__toggle {
	opacity: 0;
	position: absolute;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
.menu__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: fixed;
	top: 30px;
	left: 50px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 30;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff0000bf;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	margin-left: 0%;
	padding: 60px 0;
	transition-duration: .25s;
	z-index: 20;
}
.menu__item {
	background-color: #ff0000bf;
	z-index: 20;
	text-transform: uppercase;
	display: block;
	margin-top: 25px;
	padding: 5px 10px;
	margin-left: 40px;
	color: #fff;
	font-family: 'M-Bold', sans-serif;
	font-size: 24px;
	transition: .5s;
}
.menu__box li{
	padding-left: 10px;
}
.menu__box li:nth-child(1) > a{
	width: 183px;
}
.menu__box li:nth-child(2) > a{
	width: 124px;
}
.menu__box li:nth-child(3) > a{
	width: 147px;
}

.wrapper {
	margin: auto;
	margin-top: 44px;
	max-width: 1200px;
	padding: 0 10px;
	background-color: #ffffff;
}
.top_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 74px;
}
.main_city {
	display: flex;
	align-items: center;
	min-width: 400px;
}
.main_ads {
	background-color: #0F83D7;
}
.main_ads p {
	color: #fff; 
}
.city {
	margin-left: 40px;
}
.city p {
	padding-bottom: 8px;
	line-height: 19px;
	font-family: 'SFPro_Medium', serif;	
}
.city_region {
	font-family: 'SFPro_Light', serif;
}
.city_region a {
	color: #0F83D7;
	line-height: 17px;
	font-size: 14px;
}
.logo {
	margin: auto;
}
.registration {
	width: 400px;
	font-family: 'SFPro_Medium', serif;
	line-height: 19px;
}
.registration p {
	text-align: right;
	color: #0F83D7;
}

.b-popup{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	overflow: hidden;
	position: fixed;
	top: 0;
	left:  0;
}
.b-popup .b-popup-content{
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 650px;
	height: 456px;
	background-color: #fff;
}
.exit {
	float: right;
	padding-right: 24px;
	padding-top: 24px;
}
.b-popup-content p{
	padding-top: 64px;
	padding-bottom: 48px;
	font-size: 28px;
	line-height: 33px;
	text-align: center;
	font-family: 'SFPro_Bold', serif;
}
.form_input {
	display: grid;
	justify-content: center;
	align-items: center;
}
.form_input input {
	border: none;
	border-bottom: 1px solid #686874;
	font-size: 18px;
	line-height: 21px;
	font-family: 'SFPro_Regular', serif;
	width: 481px;
	height: 38px;
	padding-left: 5px;
	margin-bottom: 10px;
}
.form_options {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 22px;
	margin-bottom: 32px;
}
.form_options p {
	padding:  0;
	padding-right: 200px;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	font-family: 'SFPro_Light', serif;
}
.form_options a p {
	padding:  0;
	text-align: right;
	color: #0F83D7;
	font-family: 'SFPro_Light', serif;
}
.form_bottom {
	display: flex;
	justify-content: center;
	font-family: 'SFPro_Semibold', serif;
}
.form_come {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 34px;
	width: 224px;
	height: 48px;
	background: #0F83D7;
}
.form_come a {
	color: #fff;
}
.reg {
	box-sizing: border-box;
	margin-right: 0;
	background: #fff;
	border: 2px solid #0F83D7;
}
.reg a {
	color: #0F83D7;
}

.main_navigation li {
	display: inline-block;
	margin-right: 40px;
	line-height: 19px;
	font-family: 'SFPro_Regular', serif;
}
.main_navigation li a {color: #0F83D7;}

.selection {
	background-color: #F7F7FA;
	margin-top: 24px;
}
.form_search {
	display: flex;
	padding: 20px;
	padding-bottom: 0;
	font-family: 'SFPro_Regular', serif;
}

.category {
	border: 1px solid #686874;
	width: 264px;
	height: 51px;
	background-color: #ffffff;
}
.active a:hover {color: #0F83D7;}
.category ul:after {
	content: "";
	display: table;
	clear: both;
}
.category a {
	text-decoration: none;
	display: block;
	transition: .3s linear;
}
.topmenu > li {
	float: left;
	/* position: relative; Будут видны при открытии модального окна*/
	border-left: 1px solid #686874;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {  
	padding: 18px 14px;
	color: #686874;
	letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #0F83D7;}
.topmenu .fa, 
.submenu .fa {
	margin-left: 5px;
	color: inherit;
}
.submenu {
	position: absolute;
	z-index: 5;
	min-width: 200px;
	background: #ffffff;
	border: 1px solid #686874;
	visibility: hidden;
	opacity: 0; 
	transform-origin: 0% 0%;
	transform: rotateX(-90deg);
	transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
	color: #282828;
	padding: 10px 20px;
	font-size: 13px;
	border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
	position: absolute;
	left: 100%;
	top: -1px;
	transition: .3s linear;
}
.category li:hover > .submenu {
	transform: rotateX(0deg);
	visibility: visible;
	opacity: 1;
}
.ad_text {
	margin-left: 32px;
}
.ad_text input {
	width: 414px;
	height: 51px;
	font-size: 16px;
	line-height: 19px;
	padding-left: 15px;
	border: 1px solid #686874;
	font-family: 'SFPro_Regular', serif;
}
.region {
	margin-left: 32px;
	width: 240px;
	height: 51px;
}
.search {
	width: 121px;
	height: 47px;
	margin-left: 32px;
	border: 2px solid #0F83D7;
	cursor: pointer;
}
.search p{
	color: #0F83D7;
	padding-top: 15px;
	padding-bottom: 15px;  
	font-family: 'SFPro_Semibold', serif;
	text-align: center;
	line-height: 19px;
}
.foto {
	color: #101014;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: 'SFPro_Regular', serif;
}
.ads_all {
	margin-top: 32px;
	margin-bottom: 30px;
}
.ads_all p {
	margin-bottom: 24px;
	font-family: 'SFPro_Bold', serif;
	font-size: 18px;
	line-height: 21px;
}
.ads_all th, td {
	padding-bottom: 16px;
	padding-right: 60px;
}
.ads_all td{
	line-height: 19px;
	font-family: 'SFPro_Regular', serif;
}
.ads_all td a {color: #0F83D7;}
.ads_all tr:nth-child(2) {padding-bottom: 15px;}

.ads_recom_text {
	font-size: 28px;
	line-height: 33px;
	font-family: 'SFPro_Bold', serif;
	margin-bottom: 48px;
}

.goods {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.goods_item img {
	width: 100%;
}
.goods_description {
	margin-top: 16px;
	font-size: 18px;
	line-height: 140%;
	color: #686874;
	font-family: 'SFPro_Semibold', serif;
}
.goods_price {
	margin: 12px 0;
	font-size: 18px;
	line-height: 21px;
	font-family: 'SFPro_Bold', serif;
}
.goods_datetime {
	float: left;
	font-size: 16px;
	line-height: 19px;
	color: #686874;
	font-family: 'SFPro_Regular', serif;
}
.goods_city {
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	color: #686874;
	font-family: 'SFPro_Regular', serif;
}

.look-all {
	clear: both;
	margin: auto;
	margin-bottom: 120px;
	border: 2px solid #0F83D7;
}
.look-all p {
	color: #0F83D7;	
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	height: 273px;
	margin: auto;
	background: #F7F7FA;
	padding: 0 10px;
}
.logo_ads img {
	width: 135px;
	padding-bottom: 32px;
}
.footer_btm {
	margin: 0;
}
.btm {
	width: 224px;
	height: 48px;
}
.btm p {
	padding-top: 15px;
	padding-bottom: 15px;  
	font-family: 'SFPro_Semibold', serif;
	text-align: center;
	line-height: 19px
}
.footer_map {
	padding-left: 50px;
	line-height: 19px;
	font-family: 'SFPro_Regular', serif;
}
.footer_map td {
	padding-bottom: 16px;
	padding-right: 40px;
}
.footer_map td a {color: #000000;}
.dop_info {
	color: #686874;
	max-width: 220px;
	font-size: 14px;
	line-height: 17px;
	font-family: 'SFPro_Regular', serif;
}
.dop_info p {
	padding-bottom: 16px;
}
.dop_info a {
	color: #0F83D7
}
.social_network {
	padding-left: 55px;
}
@media (min-width: 1025px) {
	.goods_item {
		float: left;
		width: calc((100% - ((4 - 1) * 48px)) / 4);
		padding-right: 48px;
		padding-bottom: 48px;
	}
	.goods_item:nth-child(4n){
		padding-right: 0;
	}
}
@media (max-width: 1024px) {
	
	.goods_item {
		width: calc((100% - ((4 - 1) * 24px)) / 3);
		padding-right: 24px;
		padding-bottom: 48px;
	}
	.goods_item:nth-child(3n){
		padding-right: 0;
	}
}
@media (max-width: 1020px) {
	footer {
		display: flex;
		flex-flow: column;
		height: 100%;
		padding-top: 40px;
		text-align: center;
	}
	.logo_ads {
		order: 1;
	}
	.footer_btm {
		margin-bottom: 32px;
	}
	.footer_map {
		padding-left: 0;
		order: 2;
		text-align: left;
		font-size: 15px;
		line-height: 18px;
	}
	.footer_map td {
		padding-bottom: 16px;
		padding-right: 38px;
	}
	.footer_map td:nth-child(2) {
		padding-right: 0;
	}
	.dop_info {
		order: 4;
		padding-bottom: 48px;
	}
	.social_network {
		padding-top: 32px;
		padding-bottom: 32px;
		order: 3;
		padding-left: 0;
	}
}
@media (max-width: 770px) {
	.main_city {
		display: block;
		min-width: 300px;
	}
	.city {
		margin-top: 10px;
		margin-left: 0;
		text-align: center;
		position: relative;
		right: 37px;
	}
}
@media (max-width:770px) {
	.ad_text input {
		width: 240px;
	}
}
@media (max-width: 700px) {
	.wrapper {
		margin-top: 0;
	}
	.top_wrapper {
		padding-top: 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}
	.main_city {
		display: none;
	}
	.city_mobile {
		order: 4;
		text-align: left;
		background: #F7F7FA;
		padding: 16px;
		margin-bottom: 16px;
		line-height: 17px;
		font-size: 14px;
		line-height: 17px;
		font-family: 'SFPro_Regular', serif;
	}
	.city_mobile p {
		padding-bottom: 8px;
	}
	.city_region a{
		font-size: 14px;
		line-height: 17px;
	}

	.main_ads{
		display: none;
	}
	.city {
		margin-left: 40px;
		text-align: left;
		margin-top: 0;
	}
	.city p {
		padding-bottom: 8px;
	}
	.logo {
		order: 2;
	}
	.nav_mobile {
		order: 3;
		width: 24px;
	}
	.registration {
		display: none;
	}
	.registration_ico {
		order: 1;
		background-repeat: no-repeat;
		width: 24px;
	}
	.main_navigation {
		display: none;
	}
	.selection {
		background: none;
		margin-top: 0;
	}
	.form_search {
		padding: 0;
	}
	.main_search {
		display: flex;
		margin: auto;
	}
	.ad_text {
		order: 1;
		margin-left: 0;
	}
	.ad_text input {
		max-width: 240px;
		height: 40px;
		border: 1px solid #0F83D7;
	}
	.search_mobile {
		order: 2;
		padding: 12px;
		height: 20px;
		background: #0F83D7;
	}
	.bottom_mobile {
		display: flex;
		justify-content: center;
		margin-top: 16px;
		font-family: 'SFPro_Light', serif;
	}
	.category_mobile {
		margin-right: 20px;
		width: 140px;
	}
	.category_mobile li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.category_mobile a{
		color: #fff;
	}
	.category_mobile img{
		height: 13px;
		padding-right: 16px;
	}
	.filter_mobile {
		width: 140px;
	}
	.filter_mobile li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.filter_mobile a{
		color: #fff;
	}
	.filter_mobile img{
		height: 13px;
		padding-right: 16px;
	}
	.mobile_btm {
		background: #0F83D7;
		padding: 8px;
		font-size: 12px;
		line-height: 14px;
	}
	.search {
		display: none;
	}
	.category {
		display: none;
	}
	.foto {
		display: none;
	}
	.ads_all {
		display: none;
	}
	.ads_recom {
		margin-top: 32px;
	}
	.ads_recom_text {
		text-align: center;
	}
	.goods_item {
		width: 264px;
		
		padding-bottom: 40px;
	}
	.goods_item:nth-child(2n){
		padding-right: 0;
	}
	.goods_item:nth-child(2n+1){
		padding-right: 24px;
	}
	.look-all {
		margin-bottom: 80px;
	}
	.footer_btm {
		margin-bottom: 32px;
	}
	.logo_ads img {
		width: 83px;
	}
}

@media (min-width: 701px) {
	.registration_ico {
		display: none;
	}
	.nav_mobile {
		display: none;
	}
	.city_mobile {
		display: none;
	}
	.bottom_mobile {
		display: none;
	}
}
@media (max-width: 450px) {
	.b-popup .b-popup-content{
		width: 100vw;
		height: 100vh;
	}
	.b-popup-content p{
		padding-top: 59px;
		padding-bottom: 32px;
		font-size: 24px;
		line-height: 29px;
	}
	.form_input input {
		font-size: 14px;
		line-height: 17px;
		width: 268px;
		height: 38px;
	}
	.form_options {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 0;
	}
	.form_options label {
		margin-top: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.form_options p {
		padding:  0;
		padding-right: 0;
		font-size: 14px;
		line-height: 17px;
	}
	.form_options a p {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.form_bottom {
		flex-direction: column;
		align-items: center;
	}
	.form_come {
		margin-right: 0;
		margin-bottom: 16px;
	}
	
	.goods_item {
		width: 264px;
		padding: 0;
		padding-bottom: 40px;
	}
	.goods_item:nth-child(2n){
		padding-left: 0;
	}
	.goods_item:nth-child(2n+1){
		padding-right: 0;
	}
}