body {
    background: url(../images/bg.jpg) no-repeat center bottom fixed;
    background-size: contain;
}
.rollover {
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
    display: block;
    max-width: 100%;
    margin: auto;
    width: 790px;
    height: 190px;
    animation-name: logo; /*имя анимации*/
    animation-duration: 2s; /*длительности цикла*/
    animation-iteration-count: 3; /*длительность анимации*/
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0, 6, 0, -3);   
}
@keyframes logo {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}
#menu__toggle {
    opacity: 0;
    position: absolute;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 30;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff0000bf;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    margin-left: 0%;
    padding: 60px 0;
    transition-duration: .25s;
    z-index: 20;
}
.menu__item {
    background-color: #ff0000bf;
    z-index: 20;
    text-transform: uppercase;
    display: block;
    margin-top: 25px;
    padding: 5px 10px;
    margin-left: 40px;
    color: #fff;
    font-family: 'M-Bold', sans-serif;
    font-size: 24px;
    transition: .5s;
}
.menu__box li{
    padding-left: 10px;
}
.menu__box li:nth-child(1) > a{
    width: 183px;
}
.menu__box li:nth-child(2) > a{
    width: 124px;
}
.menu__box li:nth-child(3) > a{
    width: 147px;
}

@media screen and (max-width: 425px) {
    .menu__btn {
        left: 20px;
    }
    .menu__box li{
        padding-left: 5px;
    }
    .menu__item {
        margin-left: 20px;
        background-color: #ff0000a0;
    }
    .menu__item:hover {
        background-size: none;
    }
}