@font-face {font-family: 'OpenSans-Regular'; src: url(../font/OpenSans-Regular.ttf);}
@font-face {font-family: 'OpenSansCondensed-Light'; src: url(../font/OpenSansCondensed-Light.ttf);}

@font-face {font-family: 'Dionisio-Bold'; src: url(../font/Dionisio-Bold.ttf);}

@font-face {font-family: 'P22Underground-PCp'; src: url(../font/P22Underground-PCp.otf);}

a {
	text-decoration: none;
}

#menu__toggle {
	opacity: 0;
	position: absolute;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
.menu__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: fixed;
	top: 30px;
	left: 50px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 30;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff0000bf;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	margin-left: 0%;
	padding: 60px 0;
	transition-duration: .25s;
	z-index: 20;
}
.menu__item {
	background-color: #ff0000bf;
	z-index: 20;
	text-transform: uppercase;
	display: block;
	margin-top: 25px;
	padding: 5px 10px;
	margin-left: 40px;
	color: #fff;
	font-family: 'M-Bold', sans-serif;
	font-size: 24px;
	transition: .5s;
}
.menu__box li{
	padding-left: 10px;
}
.menu__box li:nth-child(1) > a{
	width: 183px;
}
.menu__box li:nth-child(2) > a{
	width: 124px;
}
.menu__box li:nth-child(3) > a{
	width: 147px;
}

@media screen and (max-width: 425px) {
	.menu__btn {
		left: 20px;
	}
	.menu__box li{
		padding-left: 5px;
	}
	.menu__item {
		margin-left: 20px;
		background-color: #ff0000a0;
	}
	.menu__item:hover {
		background-size: none;
	}
}

#menu__toggle {
	opacity: 0;
	position: absolute;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
.menu__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: fixed;
	top: 30px;
	left: 50px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 30;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff0000bf;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	margin-left: 0%;
	padding: 60px 0;
	transition-duration: .25s;
	z-index: 20;
}
.menu__item {
	background-color: #ff0000bf;
	z-index: 20;
	text-transform: uppercase;
	display: block;
	margin-top: 25px;
	padding: 5px 10px;
	margin-left: 40px;
	color: #fff;
	font-family: 'M-Bold', sans-serif;
	font-size: 24px;
	transition: .5s;
}
.menu__box li{
	padding-left: 10px;
}
.menu__box li:nth-child(1) > a{
	width: 183px;
}
.menu__box li:nth-child(2) > a{
	width: 124px;
}
.menu__box li:nth-child(3) > a{
	width: 147px;
}

@media screen and (max-width: 425px) {
	.menu__btn {
		left: 20px;
	}
	.menu__box li{
		padding-left: 5px;
	}
	.menu__item {
		margin-left: 20px;
		background-color: #ff0000a0;
	}
	.menu__item:hover {
		background-size: none;
	}
}

.wrapper {
	margin: auto;
	max-width: 1220px;
	width: 100%;
	height: 100%;
}

.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #507b4d;
}
.main_logo {
	height: 100px;
	width: 100px;
	background: url(../img/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left: 30px; 
}
.main_text {
	position: absolute;
	left: -101px;
	top: 25px;
	width: 300px;
	text-align: center;
}
.main_text h1 {
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Dionisio-Bold";
}
.main_text p {
	padding-top: 5px;
	font-size: 18px;
	mix-blend-mode: color-dodge;
	color: #92EF92;
	font-family: "P22Underground-PCp";
}

#main_nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.main_nav--item {
	border-left: 1px solid #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

.main_nav--item:first-child {
	border-left: none;
	padding-left: 0;
}
.main_nav--item:last-child {
	padding-right: 0;
}
.main_nav--item a {
	font-family: "OpenSans-Regular";
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	transition: .5s;
}
.main_nav--item a:hover {
	background: #337633;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
}

.test-carousel-block {
	position: relative;
	max-height: 600px;
}
.test-carousel-block img {
	opacity: .7;
}
.test-carousel--text {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: white;
	text-align: center;
}
.test-carousel--text p {
	font-size: 40px;
	font-family: "OpenSans-Regular";
	box-shadow: -4px -4px white, -8px -8px #4c6c4b, 4px 4px white, 8px 8px #598f60;
	color: white;
	text-transform: uppercase;
	padding: 25px;
	background-color: #0a4e0885;
}

#services {
	background: url(../img/services_bg.jpg);
	position: relative;
}
#services:before {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	content: '';
	background-color: #f7f7f7;
	opacity: .9;
}
.services_main--text {
	position: relative;
	z-index: 1;
	top: -20px;
	background: #0a4e0885;
	width: 400px;
	margin: auto;
	letter-spacing: 8px;
}
.services_main--text p {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 40px;
	font-family: "OpenSansCondensed-Light";
	text-transform: uppercase;
	color: #ffffff;
}
.services_main {
	position: relative;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.services_item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.services_item {
	width: 190px;
	height: 190px;
	border-radius: 200px;
	transition: .5s;
	margin-bottom: 15px;
	filter: grayscale(0.9);
	clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
	position: relative;
}
.services_item:hover {
	filter: none;
}
.services_item1 {
	background: url(../img/services1.jpg);
	background-size: cover;
}
.services_item2 {
	background: url(../img/services2.jpg);
	background-size: cover;
}
.services_item3 {
	background: url(../img/services3.jpg);
	background-size: cover;
}
.services_item4 {
	background: url(../img/services4.jpg);
	background-size: cover;
}
.services_item5 {
	background: url(../img/services5.jpg);
	background-size: cover;
}
.services_item6 {
	background: url(../img/services6.jpg);
	background-size: cover;
}

.services_item-text {
	color: white;
	position: absolute;
	background: #003c0080;;
	padding: 20px 0;
	top: 67px;
	width: 170px;
	text-transform: uppercase;
	text-align: center;
	font-family: "OpenSans-Regular";
}

#columns {
	column-width: 320px;
	column-gap: 15px;
	max-width: 1220px;
	margin: 0px auto;
}
#columns figure {
	background: #fefefe;
	border: 2px solid #165D16ab;
	box-shadow: 0px 5px 7px #221919;
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	display: inline-block;
	column-break-inside: avoid;
	transition: .5s;
}
#columns figure img {
	width: 100%; height: auto;
	border-radius: 50%;
	border-bottom: 1px solid #2EA22E;
	box-shadow: 0px -3px 5px, 0px 3px 5px #221919;
	padding-bottom: 15px;
	margin-bottom: 5px;
	transition: .5s;
}
#columns figure:hover img {
	border-radius: 0%;
}
#columns figure figcaption {
	font-size: .9rem;
	color: #444;
	font-family: "OpenSans-Regular";
	line-height: 1.5;
	text-align: center;
	transition: .5s;
}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 425px) {
	.main {
		background: #507b4d;

		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.main_logo {
		left: 0px; 
		margin-bottom: 20px;
	}
	.main_text {
		position: absolute;
		left: -101px;
		top: 25px;
		width: 300px;
		text-align: center;
	}
	.main_text h1 {
		color: #ffffff;
		font-size: 25px;
		text-transform: uppercase;
		font-family: "Dionisio-Bold";
	}
	.main_text p {
		padding-top: 5px;
		font-size: 18px;
		mix-blend-mode: color-dodge;
		color: #92EF92;
		font-family: "P22Underground-PCp";
	}
	#main_nav ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.main_nav--item {
		border-left: 1px solid #ffffff;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main_nav--item a {
		font-size: 14px;
	}
	.main_nav--item a:hover {
		background: none;
		padding: 0px;
		border-radius: 0px;
	}

	.test-carousel--text {
		margin-right: 20px;
		margin-left: 20px;
	}
	.test-carousel--text p {
		font-size: 24px;
	}

	.services_main--text {
		top: -1px;
		width: auto;
	}
	.services_main--text p {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.services_main {
		padding-top: 0px;
		padding-bottom: 20px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.services_item {
		width: 250px;
		height: 250px;
		margin-bottom: 0px;
		filter: none;
	}
	.services_item:hover {
		filter: none;
	}
	.services_item-text {
		top: 100px;
		width: 250px;
	}
	#columns figure img {
		border-radius: 0;
	}
	#columns figure:hover img {
		border-radius: none;
	}
	#columns:hover figure:not(:hover) {
		opacity: 1;
	}
}